@tailwind base;
@tailwind components;
@tailwind utilities;

/*Your Custom CSS Goes here*/

.bg-sert {
  max-width: 6.7em;
}
.bg-sert::after {
  content: url("../../static/img/sert_web.svg");
  width: 1.7em;
  height: auto;
  position: absolute;
  right: 0;
  bottom: -.25em;
  transform: rotate(11.25deg);
  background-color: #f8f8f8;
  z-index: -1;
}

.copied::after {
  content: 'Скопировано';
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translateX(-50%);
  background-color: hsl(345, 44%, 96%);
  padding: .25em .5em;
  border-radius: .5em;
  box-shadow: 0 .1em .25em rgba(0, 0, 0, .5);
}

@media (min-width: 24rem) {
  .courses-feedback {
    column-count: 2;
  }
}
@media (min-width: 28rem) {
  .courses-feedback {
    column-count: 3;
  }
}

/* Syntax Highlighting*/

body :not(pre) > code[class*="language-"],
body pre[class*="language-"] {
  @apply bg-gray-800;
}
