---
layout: default
title: "Brows before Bros — брови и ресницы в Тюмени"
description: "Гармоничная архитектура бровей и наращивание ресниц в Тюмени. Обучение на моделирование и долговременную укладку бровей."
path: home
---

<main class="container px-6 mx-auto">
  <h1 class="text-4xl tracking-tighter mb-2 lg:text-center lg:text-7xl font-medium"><b class="bg-clip-text text-transparent bg-gradient-to-br from-rose-300 to-rose-500 pr-0.5 -ml-0.5">Brows</b> before bros</h1>
  <p class="lg:text-center">Брови важнее мальчиков и скандальчиков!</p>

  <div class="mt-10 lg:flex items-start justify-center lg:space-x-5">
    <div>
    <div class="max-w-lg sm:flex items-center">
      <img class="inline float-right rounded-full ml-4 sm:ml-0 sm:mr-4" src="static/img/Мастер%20бровей%20Анастасия%20Хабибьянова.jpg" alt="Анастасия, мастер по бровям." width="98" height="98">
      <p class="pt-2">Привет, меня зовут Анастасия! В 2016 году я начала работать в бьюти-сфере, наращивая ресницы на дому, но, спустя множество довольных клиентов, я занимаюсь оформлением бровями.</p>
    </div>

    <p class="text-4xl my-7 bg-sert box-content relative pr-5 sm:text-5xl sm:ml-28">Брови — это моя страсть!</p>

    <p class="mb-3 max-w-lg">Я регулярно учусь, участвую в соревнованиях, открываю новые техники, и делюсь ими. В 2019 я запустила обучающий курс для бровистов «Брови как система», после которого ученицы получают восторженные отзывы от своих клиентов и коллег.</p>
    <p class="max-w-sm sm:ml-28">Мой главный принцип в работе — сделать <b class="font-bold">гармоничные</b> брови, которые подчеркнут достоинства лица и скроют мелкие недостатки.</p>

    <p class="bg-points text-2xl my-5">Я определяю форму бровей по анатоми­ческим точкам лица</p>

    <p class="mb-3 max-w-lg">Благодаря этому, брови смотрятся целостно и уместно. Затем я использую нитку, воск и пинцет для убирания лишних волосков. В конце процедуры я наношу масло и делаю массаж бровей для закрепления результата.</p>
    <p class="text-2xl mb-4">Полюби настоящую себя — запишись в Brows before Bros!</p>
    </div>

    <div class="text-white bg-rose-500 bg-gradient-to-br from-rose-600 to-rose-400 px-4 pt-4 -mx-4 pb-8 rounded-xl max-w-sm lg:mx-0">
      <p class="mb-4">Записывайтесь на услуги и обучение, смотрите работы, читайте статьи, узнавайте об акциях и задавайте вопросы в инстаграме:</p>
      <a class="text-xl rounded-md bg-white text-gray-900 pt-2 pb-3 px-4" href="https://www.instagram.com/browsbeforebros.tmn/" target="_blank">@browsbeforebros.tmn</a>
    </div>
  </div>
</main>