<footer class="container p-6 grid text-gray-500 space-y-2 justify-between text-sm items-end grid-cols-1 md:grid-cols-2">
    <p>
        <a class="flex items-center mb-1" href="https://t.me/privetnastyaa"><img class="inline mr-1" src="{{ "/static/img/tg.svg" }}" width="16" height="16" alt="Телеграм."> Brows before Bros, {% currentYear %}</a>
        Адрес салона: <a class="border-b border-dashed" aria-expanded="false" aria-controls="map" id="toggleMap" target="_blank" href="https://go.2gis.com/i3ji9" rel="noopener noreferrer" title="Показать на карте Тюмени">ул. Республики, 61, оф. 409</a>
    </p>
    <div class="md:row-start-2 md:col-span-2 w-full" id="map"></div>
    <span class="md:text-right">Сделано с ❤ <a href="https://dontliem1.github.io" target="_blank" class="border-b">Михаилом Воробьёвым</a></span>
</footer>
